/* Desktop Style Sheet*/
:root {
    --primary: orangered;
    --secondary: #fff;
    --text-border: rgb(54, 54, 54);
}

* {
    font-family: 'Montserrat', sans-serif;
}

main {
    position: relative;
    min-height: 100vh;
}

h1 {
    margin-top: 3%;
    font-size: 1.65rem;
    padding-left: 4%;
    color: var(--primary);
}

h2 {
    font-size: 1.4rem;
    color: var(--text-border);
}

h3 {
    font-weight: normal; 
    color: var(--text-border);  
}

a {
    text-decoration: none;
    color: var(--text-border);
}

a:hover{
    cursor: pointer;
    color: var(--primary);
}

a:focus, #submit:focus, #searchbox:focus, #travelmonth:focus  {
    outline: 4px solid var(--primary);
}



footer {
    margin-top: 10%;
    position: absolute;
    bottom: 0;
    height: 85px;
    width: 100%;
    background-color: var(--text-border);
}

label {
    margin-left: 4%;
    font-size: 17px;
}

#searchbox {
    margin: .5% 0 1% 4%;
    display: block;
    padding: 13px;
    width: 20rem;
    color: rgb(90, 90, 90);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
    border: 0;
    border: none;
    background-color: rgb(255, 244, 234);
}

input::selection, input::-moz-selection {
    background-color: var(--secondary);
}

input:active {
    background-color: rgb(255, 244, 234); 
}

#travelmonth {
    display: block;
    margin: .5% 0 1.5% 4%;
    padding: 13px 13px 13px 13px;
    font-size: 16px;
    color: var(--text-border);
    background-color: rgb(255, 244, 234);
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    border: none;      
    background-repeat: no-repeat;
    background-position: right;
 }

#submit {
    margin-left: 4%;
    margin-bottom: 2%;
    padding: 10px;
    color: var(--secondary);
    border: none;
    border-radius: 5px;
    background-color: var(--text-border);
}

#submit:hover {
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
}

#searchbox{
    outline: none !important;
    border:0;
    box-shadow: -10px 10px 10px -8px lightgray;
}

.own-line {
    display: inline-block;
    color: var(--primary);
    padding-left: 1.5%;
}

.own-line:visited {
    color: var(--primary);
}

.own-line:hover {
    color: var(--text-border);
}

.fa-globe-americas {
    color: var(--text-border);
}

.results-img {
    height: 350px;
    width: 526px;
}

.outsidearrow {
    height: 15px;
    width: 15px;
}

.alert-text {
    color: var(--primary);
    font-size: 1.1rem;
}

.gallery img {
    padding: 1%;
}

.portfolio {
    color: var(--secondary);
}

.top_text {
    text-align: center;
    color: var(--secondary);
}

.bottom_text {
    text-align: center;
    color: var(--secondary);
}

.subHeader {
    padding-left: 4%;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 25px 0;
    background: url(map_banner.png) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    color: var(--secondary);
    text-decoration: none;
    font-size: 1.38rem;
    padding-left: 4%;
}

.logo:hover {
    color: var(--primary);
}

.gallery {
    padding-left: 3%;
}

.weather, .recs, .history {
    padding-left: 4%;
}

@media only screen and (max-width: 768px) and (max-width: 1024px) {
    #searchbox {
        margin-bottom: 3%;
    }
}

@media only screen and (max-width: 600px) {

    h1 {
        margin-top: 6%;
        margin-bottom: 4%;
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    a {
        text-decoration: none;
        color: var(--text-border);
    }
    
    a:hover, a:focus {
        cursor: none;
        color: var(--text-border);
    }

    footer {
        margin-bottom: 5%;
    }
    #searchbox::placeholder {
        font-size: 1.1rem;
    }

    #submit {
        margin-left: 4%;
        margin-bottom: 3%;
        padding: 15px;
        background-color: var(--primary);
        border-radius: 5px;
        color: var(--secondary);
    }
    
    #submit:hover {
        background-color: var(--primary);
        color: var(--secondary);
        cursor: none;
    }

    #searchbox {
        margin-bottom: 5%;
        padding: 15px;
        width: 70%;
        font-size: 1.1rem;
    }

    .results-img {
        height: auto;
        width: 100%;
    }

    .gallery {
        padding-right: 4%;
    }

    .gallery img {
        padding-bottom: 5%;
    }

    .logo {
        color: var(--secondary);
        text-decoration: none;
        font-size: 1.3rem;
    }
    
    .logo:hover {
        color: var(--secondary);
    }

    .subHeader, h2 {
        font-size: 1.1rem;
    }

    .push_down {
        margin-top: 5%;
    }

}